<%- include("./partials/header") %>
<body>
    <div class="container w-[350px] lg:w-[900px] mx-auto">
        <div class="flex lg:justify-between gap-2 flex-wrap mt-1 mb-20">
            <form class="inline" action="/user/logout" method="get">
                <button class="my-2 bg-indigo-400 py-2 px-3 text-white rounded-xl hover:bg-indigo-500" type="submit">Sair</button>
            </form>

            <form class="inline" action="/user/deleteUser" method="get">
                <button class="my-2 bg-indigo-400 py-2 px-3 text-white rounded-xl hover:bg-indigo-500" type="submit">Deletar conta</button>
            </form>

            <form class="inline" action="/user/extratos" method="get">
                <button class="my-2 bg-indigo-400 py-2 px-3 text-white rounded-xl hover:bg-indigo-500" type="submit" type="submit">Extratos</button>
            </form>

            <form class="inline" action="/user/transfer" method="get">
                <button class="my-2 bg-indigo-400 py-2 px-3 text-white rounded-xl hover:bg-indigo-500" type="submit" type="submit">Realizar transferencia</button>
            </form>

            <form class="inline" action="/user/edit" method="get">
                <button class="my-2 bg-indigo-400 py-2 px-3 text-white rounded-xl hover:bg-indigo-500" type="submit" type="submit">Editar conta</button>
            </form>

            <form class="inline" action="/user/cofrinho" method="get">
                <button class="my-2 bg-indigo-400 py-2 px-3 text-white rounded-xl hover:bg-indigo-500" type="submit" type="submit">Criar cofrinho</button>
            </form>

            <form class="inline" action="/user/deposit" method="get">
                <button class="my-2 bg-indigo-400 py-2 px-3 text-white rounded-xl hover:bg-indigo-500" type="submit" type="submit">Depósito</button>
            </form>
        </div>

        <p class="font-medium text-2xl py-2">Bem-vindo de volta, <span class="text-indigo-400 font-bold"><%= locals.usuario.username %></span>!</p>
        <% if (msg) { %>
            <p class="text-lg font-semibold text-red-600"><%= msg %></p>
        <% } %>
        <p class="font-medium text-lg py-2">Sua chave de transação: <span class="font-bold"><%= locals.usuario.chave %></span></p>
        <p class="text-lg py-2">Saldo atual: <span class="font-bold bg-slate-100 p-2 rounded-md text-green-600">R$<%= parseFloat(locals.usuario.saldo).toFixed(2) %></span></p>

        <hr class="border-[#9b9b9b] mt-2">

        <% if (cofrinhos) { %>
            <% cofrinhos.reverse().forEach(cofrinho => {%>
                <div class="container bg-[#f8f8f8] w-[300px] lg:w-[400px] mx-auto mt-10 p-3 rounded-md">
                    <p class="text-lg font-bold text-indigo-400">Cofrinho</p>
                    <p class="font-semibold"><%= cofrinho.nome %></p>
                    <div class="flex justify-between">
                        <p class="inline font-semibold">Total arrecadado: R$<%= cofrinho.saldo %></p>
                        <% if(cofrinho.meta) { %>
                            <p class="inline text-indigo-400 font-semibold">Meta: R$<%=parseFloat(cofrinho.meta).toFixed(2)%></p>
                        <% } %>
                    </div>
                    <% if (cofrinho.meta) { %>
                        <div class="flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden" role="progressbar" 
                            aria-valuenow="<%= parseFloat(cofrinho.saldo) %>" 
                            aria-valuemin="0" 
                            aria-valuemax="<%= parseFloat(cofrinho.meta) %>">
                            <div class="flex justify-center items-center rounded-full bg-indigo-400 text-xs text-white text-center whitespace-nowrap transition duration-500" 
                                 style="width: <%= (parseFloat(cofrinho.saldo) / parseFloat(cofrinho.meta)) * 100 %>%;">
                            </div>
                        </div>
                    <% } %>
                    
                    <div class="flex lg:justify-between gap-2 flex-wrap mt-1">
                        <form action="/user/cofrinho/delete/<%= cofrinho.id %>" method="post">
                            <button type="submit" class="my-2 bg-indigo-400 py-2 px-3 text-white rounded-xl hover:bg-indigo-500">Excluir</button>
                        </form>
                        <form action="/user/cofrinho/add/<%= cofrinho.id %>" method="get">
                            <button type="submit" class="my-2 bg-indigo-400 py-2 px-3 text-white rounded-xl hover:bg-indigo-500">Adicionar</button>
                        </form>
                        <form action="/user/cofrinho/withdraw/<%= cofrinho.id %>" method="get">
                            <button type="submit" class="my-2 bg-indigo-400 py-2 px-3 text-white rounded-xl hover:bg-indigo-500">Sacar</button>
                        </form>
                        <form action="/user/cofrinho/edit/<%= cofrinho.id %>" method="get">
                            <button type="submit" class="my-2 bg-indigo-400 py-2 px-3 text-white rounded-xl hover:bg-indigo-500">Editar</button>
                        </form>
                    </div>
                </div>
                
            <% }); %>
        <% }; %>

    </div>
</body>
<%- include("./partials/footer") %>