<%- include("../partials/header") %>
<body>
    <h1 class="text-center text-2xl font-bold py-4 text-indigo-400">Sacar do cofrinho: <%= cofrinho.nome %></h1>

    <div class="container w-80 mx-auto bg-[#f8f8f8] p-4 py-6">
        <form action="/user/cofrinho/withdraw/<%= cofrinhoId %>" method="post">
            <p class="font-semibold">Valor disponível: R$<%= parseFloat(cofrinho.saldo) %></p>
            <p>Valor de saque:</p>
            <input required class="my-2 w-full rounded-md px-2 py-1 border-[1px] border-indigo-500 bg-transparent outline-0" type="number" step="0.01" name="valor" placeholder="R$" id="valor">
            <button class="my-2 bg-indigo-400 py-2 px-3 text-white rounded-xl hover:bg-indigo-500" type="submit">Sacar</button>
            <a class="my-2 bg-indigo-400 py-[10px] px-3 text-white rounded-xl hover:bg-indigo-500" href="/">Voltar</a>
        </form>
        <% if(msg) { %>
            <p class="text-rose-600"><%= msg %></p>
        <% } %>
    </div>
</body>
<%- include("../partials/footer") %>