<%- include('../partials/header') %>

<body>
    <h1 class="text-center text-2xl font-bold py-4 text-indigo-400">Editar</h1>

    <div class="container w-80 mx-auto bg-[#f8f8f8] p-4 py-6">
        <form action="/user/edit" method="post">
            <p>Username</p>
            <input class="my-2 w-full rounded-md px-2 py-1 border-[1px] border-indigo-500 bg-transparent outline-0" type="text" name="username" placeholder="<%= usuario.username %>" id="username">
            <p>Email</p>
            <input class="my-2 w-full rounded-md px-2 py-1 border-[1px] border-indigo-500 bg-transparent outline-0" type="email" name="email" id="email" placeholder="<%= usuario.email %>">
            <p>Senha</p>
            <input class="my-2 w-full rounded-md px-2 py-1 border-[1px] border-indigo-500 bg-transparent outline-0" type="password" name="password0" id="password0" placeholder="Senha anterior">
            <input class="my-2 w-full rounded-md px-2 py-1 border-[1px] border-indigo-500 bg-transparent outline-0" type="password" name="password1" id="password1" placeholder="Senha">
            <input class="my-2 w-full rounded-md px-2 py-1 border-[1px] border-indigo-500 bg-transparent outline-0" type="password" name="password2" id="password2" placeholder="Confirme a sua senha">

            <button class="my-2 bg-indigo-400 py-2 px-3 text-white rounded-xl hover:bg-indigo-500" type="submit">Salvar</button>
            <a class="my-2 bg-indigo-400 py-[10px] px-3 text-white rounded-xl hover:bg-indigo-500" href="/">Voltar</a>

            <% if (msg) {%>
                <p class="text-sm text-rose-600"><%= msg %></p>
            <% } %>
        </form>
    </div>

</body>

<%- include('../partials/footer') %>